$main-color: #f8f8f8;
$font_color: rgb(78, 88, 99);
$font_title: #333;
$main-blue: #3CCACE;

* {
  box-sizing: border-box;
}

.contract {
  min-height: 100vh;
  background-color: $main-color;
  height: 100%;
  width: 100%;
  padding: 20px 0 40px;

  &__main {
    background-color: #fff;
    height: 1000px;
    width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    border-radius: 50px;

    &__title{
      width: 800px;
      height: 80px;
      font-size: 20px;
      text-align: center;
      line-height: 80px;
      font-weight: bold;
      background-color: $main-blue;
      margin: 0 auto 30px;
      border-radius: 30px;
      color: white;
    }

    &__item {
      width: 800px;
      height: 170px;
      display: flex;
      justify-content: center;

      .contract-image {
        padding-right: 20px;

      }
      .contract-details {
        height: 100px;
        width: 300px;
        &__item-name {
          padding-top: 30px;
          font-size: 16px;
          font-weight: bold;
          color: $font_title;
        }
      }
    }

    &__price-table {
      width: 700px;
      height: 60px;
      border-bottom: solid 1px $main-blue;
      line-height: 70px;
      margin: 40px auto 0;
      display: flex;
      justify-content: center;

      &__left {
        width: 180px;
        font-size: 20px;
        font-weight: bold;
        color: $font_title;
      }
      &__right {
        font-size: 25px;
        font-weight: bold;
        color: $font_title;
        margin-right: 10px;
      }
    }
    &__user-info {
      height: 120px;
      width: 700px;
      display: flex;
      margin: 0 auto;
      padding-left: 120px;

      &__inner {
        height: 50px;
        width: 400px;
        text-align: center;
        line-height: 50px;
        color: $font_title;
        display: flex;
        .icon {
          text-decoration: none;
          color: #3CCACE;
          margin-right: 2px;
        }
        .text {
          text-decoration: none;
          color: #3CCACE;
        }
      }
      &__card {
        height: 50px;
        width: 400px;
        line-height: 50px;
        color: $font_title;
        padding-left: 100px;
        &__detail {
          height: 50px;
          width: 400px;
          line-height: 50px;
          color: $font_title;
        }
      }
    }
    &__btn {
      height: 80px;
      width: 250px;
      margin: 0 auto;

      .buy-button {
        height: 60px;
        width: 200px;
        background-color: #3CCACE;
        text-align: center;
        margin-left: 20px;
        border-radius: 30px;
        border-style: none;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        padding-top: 18px;
      }
    }
  }  
}
.top-btn {
  display: flex;
  justify-content: center;
  &__submit {
    font-weight: bold;
    text-align: center;
    line-height: 48px;
    background: #3CCACE;
    border: 1px solid #3CCACE;
    width: 200px;
    font-size: 18px;
    border-radius: 100px;
    margin-top: 30px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}