.paysystem1{
  height: 600px;
  width: 600px;
  border: 1px solid #3CCACE;
  margin: 150px auto;
  &__content{
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
  }
  &__info{
    padding: 20px;
  }
  &__card-info{
    border: 1px solid rgb(170, 166, 166);
    padding: 20px;
    .paysystem1__card-number{
      display: flex;
      padding: 20px 0;
      &-info{
        font-size: 20px;
      }
      &-int{
        text-align: right;
        font-size: 20px;
        padding-left: 200px;
      }
    }
    .paysystem1__card-age{
      display: flex;
      padding: 20px 0;
      &-info{
        font-size: 20px;
      }
      &-int{
        text-align: right;
        font-size: 20px;
        padding-left: 200px;
      }
    }
    
  };
  .remove-btn{
    height: 60px;
    width: 100px;
    margin-top: 200px;
    margin-left: 200px;
    background-color: lightblue;
    color: rgb(236, 86, 86);
    border: 0px none;
    font-weight: bold;
  }
  .remove-btn:hover{
    background-color: #3CCACE;
  }
}