.signup-card-list{
  display: flex;
  .pay {
    display: inline-block;
    margin: 8px 0 0;
    font-size: 0;
  }

}
.cards-number {
  margin-top: 10px;
}
.form_require{
  background-color: #3CCACE;
  color: white;
}


.cards-expire{
  margin-top: 30px;
  &__content{
    display: flex;
  }
}

.input-number{
  padding: 10px 16px 8px 16px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  margin-top: 8px;
  line-height: 1.5; 
}

.paysystem{
  background-color: white;
  margin: 50px auto;
  border: 1px solid #3CCACE;
  width: 700px;
  height: 800px;
  &__title{
    text-align: center;
    padding: 10px;
    font-size: 22px;
  }
  &__credit-card{
    padding: 40px 40px 64px;
    border-top: 1px solid #f5f5f5;
    &__inner{
      max-width: 343px;
      margin: auto;
    }
  }
  &-bottom{
    margin: 30px;
    padding: 60px;
    .add-bottom{
      width: 200px;
      height: 80px;
      background-color: #3CCACE;
      color: #f5f5f5;
      border: 1px solid #ccc;
    }
  }
}


.input-expire{
  height: 40px;
  margin: 5px;
  width: 60px;
}